.accordion_item{
  border: none;
  background: var(#{--components-background-default}) !important;
  color: var(#{--text-color-default}) !important;
}
.accordion {
  --bs-accordion-active-bg: #d6577b;
}
.accordion_button:not(.collapsed) {
  background: #d6577b !important;
  color: #fff !important;
}
.accordion_body{
  cursor: pointer;
  margin-left: 0;
  background: var(#{--components-background-default}) !important;
  color: var(#{--text-color-default}) !important;
}
.accordion_button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background: none;
  box-shadow: none;
}
.accordion_button:focus {
  border-color: rgba(255, 255, 255, 0);
  outline: 0;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}
.accordion_button[data-v-5bfa9a44]:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background: none;
  box-shadow: none;
}
.accordion_button:focus {
  z-index: 3;
  border-color: rgba(255, 255, 255, 0);
  outline: 0;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}
.accordion_button[data-v-5bfa9a44]:focus {
  z-index: 3;
  border-color: rgba(255, 255, 255, 0);
  outline: 0;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}
.accordion_body_active{
  background: #d6577b !important;
  color: #fff !important;
}
.btns_arias {
  padding: 15px 0;
  width: 100%;
  display: flex;
  left: 10px;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .btn {
    width: 70%;
    font-size: 12px;
    padding: 10px 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--color3);
    color: white;
  }
}