//@import '~normalize.css';
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  background: var(#{--body-background-default});
}
#root{
  background: var(#{--body-background-default});
}
.container {
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}